In [1]:
import pandas as pd
from pymongo import MongoClient

In [2]:
RankingJugadores = pd.read_csv("top5_leagues_player.csv")
RankingJugadores

,Unnamed: 0,name,full_name,age,height,nationality,place_of_birth,price,max_price,position,shirt_nr,foot,club,contract_expires,joined_club,player_agent,outfitter,league
0,0,Ederson,NaN,29,1.88,Brazil Portugal,Osasco (SP),45.00,70.00,Goalkeeper,31,left,Man City,2026-06-30,2017-07-01,Gestifute,Puma,EPL
1,1,Stefan Ortega,Stefan Ortega Moreno,30,1.85,Germany Spain,Hofgeismar,6.00,6.00,Goalkeeper,18,right,Man City,2025-06-30,2022-07-01,neblung ...,NaN,EPL
2,2,Scott Carson,Scott Paul Carson,37,1.88,England,Whitehaven,0.25,6.00,Goalkeeper,33,right,Man City,2023-06-30,2021-07-20,Wasserman,Puma,EPL
3,3,Rúben Dias,Rúben Santos Gato Alves Dias,26,1.87,Portugal,Amadora,75.00,75.00,Defender - Centre-Back,3,right,Man City,2027-06-30,2020-09-29,Gestifute,Nike,EPL
4,4,Nathan Aké,Nathan Benjamin Aké,28,1.80,Netherlands Cote d'Ivoire,Den Haag,35.00,40.00,Defender - Centre-Back,6,left,Man City,2025-06-30,2020-08-05,Wasserman,Nike,EPL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2607,2607,Moussa Djitté,Moussa Kalilou Djitté,23,1.80,Senegal,Diattouma,2.00,2.00,Attack - Centre-Forward,28,right,AC Ajaccio,2023-06-30,2023-01-31,FS Management,NaN,Other
2608,2608,Mounaïm El Idrissy,منعم الإدريسي,24,1.81,France Morocco,Martigues,1.80,1.80,Attack - Centre-Forward,7,right,AC Ajaccio,2023-06-30,2019-07-01,N.Agency,NaN,Other
2609,2609,Moussa Soumano,NaN,17,NaN,France Mali,NaN,0.90,0.90,Attack - Centre-Forward,34,NaN,AC Ajaccio,2026-06-30,2023-01-01,NaN,NaN,Other
2610,2610,Romain Hamouma,NaN,36,1.79,France Algeria,Montbéliard,0.60,7.00,Attack - Centre-Forward,17,right,AC Ajaccio,2023-06-30,2022-07-01,Gallea Gestion S.A,NaN,Other
2611,2611,Yoann Touzghar,NaN,36,1.80,Tunisia France,Avignon,0.50,1.75,Attack - Centre-Forward,9,right,AC Ajaccio,2024-06-30,2022-08-24,AGJ SP MGMT,NaN,Other

In [3]:

#Comprobamos las dimensiones:
RankingJugadores.shape

(2612, 18)

In [4]:

#Eliminamos los duplicados:
RankingJugadores = RankingJugadores.drop_duplicates()
#Comprobamos las dimensiones:
RankingJugadores.shape

(2612, 18)

In [5]:
#Buscamos los valores nulos
RankingJugadores.isnull().sum()

Unnamed: 0             0
name                   0
full_name           1132
age                    0
height                11
nationality            0
place_of_birth        17
price                 10
max_price              6
position               0
shirt_nr               0
foot                  36
club                   0
contract_expires      68
joined_club            0
player_agent         259
outfitter           1609
league                 0
dtype: int64

In [6]:
#los valores nulos de columnas numericas los remplazamos por la media
for columna in RankingJugadores.select_dtypes(include=['float64', 'int64']).columns:
        RankingJugadores[columna].fillna(RankingJugadores[columna].mean(), inplace=True)

C:\Users\Alejo\AppData\Local\Temp\ipykernel_14800\3710883811.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  RankingJugadores[columna].fillna(RankingJugadores[columna].mean(), inplace=True)

In [7]:
#Buscamos los valores nulos
RankingJugadores.isnull().sum()

Unnamed: 0             0
name                   0
full_name           1132
age                    0
height                 0
nationality            0
place_of_birth        17
price                  0
max_price              0
position               0
shirt_nr               0
foot                  36
club                   0
contract_expires      68
joined_club            0
player_agent         259
outfitter           1609
league                 0
dtype: int64

In [8]:
# Mostrar información general del DataFrame
print(RankingJugadores.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2612 entries, 0 to 2611
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2612 non-null   int64
 1   name              2612 non-null   object
 2   full_name         1480 non-null   object
 3   age               2612 non-null   int64
 4   height            2612 non-null   float64
 5   nationality       2612 non-null   object
 6   place_of_birth    2595 non-null   object
 7   price             2612 non-null   float64
 8   max_price         2612 non-null   float64
 9   position          2612 non-null   object
 10  shirt_nr          2612 non-null   int64
 11  foot              2576 non-null   object
 12  club              2612 non-null   object
 13  contract_expires  2544 non-null   object
 14  joined_club       2612 non-null   object
 15  player_agent      2353 non-null   object
 16  outfitter         1003 non-null   object
 17  league            2612 non-null   object
dtypes: float64(3), int64(3), object(12)
memory usage: 367.4+ KB
None

In [9]:

# Mostrar las primeras filas del DataFrame
print(RankingJugadores.head())

   Unnamed: 0           name                     full_name  age  height  \
0           0        Ederson                           NaN   29    1.88
1           1  Stefan Ortega          Stefan Ortega Moreno   30    1.85
2           2   Scott Carson             Scott Paul Carson   37    1.88
3           3     Rúben Dias  Rúben Santos Gato Alves Dias   26    1.87
4           4     Nathan Aké           Nathan Benjamin Aké   28    1.80

                  nationality place_of_birth  price  max_price  \
0            Brazil  Portugal    Osasco (SP)  45.00       70.0
1              Germany  Spain     Hofgeismar   6.00        6.0
2                     England     Whitehaven   0.25        6.0
3                    Portugal        Amadora  75.00       75.0
4  Netherlands  Cote d'Ivoire       Den Haag  35.00       40.0

                 position  shirt_nr   foot      club contract_expires  \
0              Goalkeeper        31   left  Man City       2026-06-30
1              Goalkeeper        18  right  Man City       2025-06-30
2              Goalkeeper        33  right  Man City       2023-06-30
3  Defender - Centre-Back         3  right  Man City       2027-06-30
4  Defender - Centre-Back         6   left  Man City       2025-06-30

  joined_club player_agent outfitter league
0  2017-07-01    Gestifute      Puma    EPL
1  2022-07-01  neblung ...       NaN    EPL
2  2021-07-20    Wasserman      Puma    EPL
3  2020-09-29    Gestifute      Nike    EPL
4  2020-08-05    Wasserman      Nike    EPL

In [10]:


# Calcular el máximo y mínimo de la columna "Points"
max_puntos = RankingJugadores['price'].max()
min_puntos = RankingJugadores['price'].min()
print("\nMáximo del Precio:", max_puntos)
print("Mínimo de Precio:", min_puntos)
# Calcular el promedio de la columna "Points"
promedio_puntos = RankingJugadores['price'].mean()
print("Promedio de Precio:", promedio_puntos)

Máximo del Precio: 180.0
Mínimo de Precio: 0.025
Promedio de Precio: 10.650710991544965

In [11]:
# Convertir el DataFrame a un diccionario para facilitar su inserción en MongoDB
Insercion = RankingJugadores.to_dict(orient='records')

In [12]:

# Conectar con la instancia de MongoDB 
client = MongoClient('localhost', 27017)  # Conexión local
db = client['FutbolData']  # Nombre de la base de datos
collection = db['RankingDeJugadores']  # Nombre de la colección

In [13]:

# Insertar el diccionario en la colección de MongoDB
collection.insert_many(Insercion)
client.close()